.navheader.bg-primary{
    background: #6B1CD0!important;
}


.navheader.nav-item{
    font-family: Helvetica Neue;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}


.navheader .dropdown-item:active{
    background: #6B1CD0!important;

}


.dropdown-menu{
   margin-top: 30px!important;
}


.drop-sm .dropdown-menu{
    margin-top: 0px!important;
}

.navheader .dropdown-menu{
    border: 3px solid #6B1CD0;
}

.navheader .dropdown-divider{
    border: 1px solid #6B1CD0;
}

.navheader .dropdown-item{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}
