.about-us .header .title{
    color: #8A50D4;
    font-size: 90px;
    font-style: italic;
}

.about-us .header .title-2{
    font-style: italic;
    font-size: 34px;
}

.about-us .our-mission{
    margin-top: 120px;
    background-image: url("https://www.figma.com/file/8u8KGk3UVgZisLTWvzkGEJ/Ochi?node-id=101%3A50");
}

.about-us .our-mission .title{
    margin-right: 20%;
    font-size: 56px;
}

.about-us .our-mission .description-1{
    margin-left: 25%;
    font-size: 25px;
}

.about-us .our-mission .description-2{
    font-size: 25px;
}

.about-us .our-goal{
    margin-top: 120px;
}

.about-us .our-history{
    background-color: #DDE6DB;
}

.about-us .our-history .title, .about-us .our-goal .title{
    font-size: 45px;
}

.about-us .our-history .description-1{
    font-size: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.about-us .our-history .description-2{
    font-size: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}





