.course.card {
    border: 4px solid #929292;
    border-radius: 10px;
}

.course .card-title{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    text-decoration-line: underline;
    color: rgb(209, 208, 208);
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #000;
}

.course .card-title:hover{
    opacity: 0.7;
}

.course .card-img-top{
    width: 80%;
    margin: 1rem auto;
}

.course .card-body{
    height: 170px;
    padding: 1rem;
}


.courses .maincontainer{
    min-height: 500px;
}

.courses h5{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}

.rect{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: 77px;
    height: 16px;
    border: 2px solid #929292;
    box-sizing: border-box;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}

.courses h1{
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 55px;
}