.ellipse{
    background-color: #8FAC87;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 8px;
}

.ellipse21{
    background-color: #9FD3D3;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 5px 0px 5px;
}

.ellipse22{
    background-color: #9FD3D3;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 30px;
    bottom: 90px;
    margin: 0px 5px 0px 5px;
}

.column{
    background-color: #F9773E;
    height: 150px;
    width: 25px;
    display: inline-block;
    margin: 0px 8px -90px 8px;
    position:relative;
    bottom: 110px;

}

.main-img{
    width: 100%;
    object-fit: contain;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.quote-text{
    font-size: 40px;
    line-height: 60px;
    text-align: right;
    color: #000000;
    padding-left: 10%;
}

.register-link{
        color: #ffffff; 
        text-decoration: none;
        background-color: transparent;
}

.register-link:hover{
    text-decoration: none;
    color: #ffffff;
}

.link-to-courses-container a{
    font-weight: 500;
    font-size: 30px;
    line-height: 49px;
    text-decoration-line: underline;
    color: #686666;
}

.our-courses-list{
    background: #FAF7EF;
}

.card-img{
    width: 100px;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.card-without-border{
    border: none;
}

.card-underline{
    margin: 0px auto;
    width: 70%;
    border-top: 3px solid #49CBCB;
}

.card-round-border{
    border: 3px solid #EFB57F;
    border-left: 3px solid #EFB57F !important;
    box-sizing: border-box !important;
    border-radius: 20px !important;
}


h2.main {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
}

.main-all:hover{
    opacity: 0.7;
}
.main-all a{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #686666;
}

.main-btn{
    background: #6B1CD0;
    border-radius: 5px;
}

.main-btn:disabled{
    background-color: #6B1CD0;
    border-color: #6B1CD0;
}

.main-btn:hover{
    opacity: 0.8;
    background: #6B1CD0;
}

.main-btn:active{
    opacity: 0.7;
    background-color: #6B1CD0!important;
}

.main-btn.btn-danger{
    background: #d9534f;
    border-radius: 5px;
}

.main-btn.btn-danger:disabled{
    background-color: #d9534f;
    border-color: #d9534f;
}

.main-btn.btn-danger:hover{
    opacity: 0.8;
    background: #d9534f;
}

.main-btn:active{
    opacity: 0.7;
    background-color: #d9534f!important;
}