.marks .card{
    background: rgba(107, 28, 208, 0.25);
}


.marks .card-header {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 33px;
    color: #000;
}
.marks .card-header:after{
    /* color: rgba(0, 0, 0, 0.7);
    content:"^";
    float:right; */
}


.marks .card-body{
    background: #F0E8FA;
    padding: 0.5rem 1rem;
}


.marks .marks-name span:last-child{
    float:right; 
}

.marks .accordion>.card:not(:last-of-type){
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 2rem ;
}