

.main-btn:disabled{
    background-color: #6B1CD0;
    border-color: #6B1CD0;
}

.coursePage .main-btn{
    width: 65%;
}


.course-img{
    width: 100%;
    object-fit: contain;
}

.teacher-img{
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.teacher-img-mob{
    width: auto;
    object-fit: contain;
    border-radius: 50%;
}

.coursePage .col-md-8 {
     margin-top: 0;
}

.coursePage p {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
}

.coursePage h1{
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 47px;
}

.coursePage h2{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height:37px;
    text-transform: uppercase;
}

.text-center.info{
    line-height: 150%;
}
