
.col-md-8 {
    margin-top: 5rem;
}

.auth.card{
    background: #FFFFFF;
    border: 2px solid rgba(146, 146, 146, 0.8);
    box-sizing: border-box;
    border-radius: 5px;
}

.auth h4{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
    letter-spacing: 0.03em;
    color: #000000;
}

.auth .col-form-label{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

.auth .form-check-label{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
}

.auth.card-body{
    margin: 0 auto;
    width: 80%;
    padding: 1.5rem 3rem;
}

.auth .form-control{
    border: 2px solid rgba(146, 146, 146, 0.8);
    box-sizing: border-box;
    border-radius: 5px;
}

.auth .text-danger{
    font-family: Helvetica Neue;
}

.authcol{
    padding-left: 30px;
    padding-right: 30px;
}
@media (max-width: 576px) { 
    .auth.card-body{
        width: 100%;
        padding: 1rem 2rem;
    }
}

.login-btn{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    border-radius: 5px;
    background: #6B1CD0;
    border-color: #6B1CD0;
    height: calc(1.5em + 1rem + 2px);
}

.login-btn:hover{
    border-color: #6B1CD0;
    background: #6B1CD0;
    opacity: 0.8;
}

.login-btn:active{
    opacity: 0.7;
    background-color: #6B1CD0!important;
}


.login-item{
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 36px;
    color: #494444;
}

.login-item a{
    color: #494444;
}

.auth.card-header{
    padding: 0; 
}

.auth .card-header-tabs{
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}
